/* =============================
        cat-search css starts
 ================================*/
 #cat-search{
     padding-bottom:50px;
     .left-search{
         form{
             position:relative;
             input{
                 width:364px;
                 height:56px;
                 @include fonts('inter',16px,400,$form-text);
                 border:1px solid $blogborder;
                 outline:none;
                 border-radius:10px;
                 -webkit-border-radius:10px;
                 -moz-border-radius:10px;
                 -ms-border-radius:10px;
                 -o-border-radius:10px;
                 padding-left:22px;
            }
             i{
                 position:absolute;
                 top:19px;
                 right:19px;
                 @include fonts(0,16px,0,$scolor);
                 cursor: pointer;
             }
         }
     }
     .middle-search{
         p{
            @include fonts('inter',16px,400,$paracolor);
            line-height:28px;
            padding-top:12px;
            padding-left:13px;  
         }
     }
     .right-search{
         display:flex;
        .icons{
            padding-top:12px;
            img{
                cursor: pointer;
            }
            .list{
                margin-left:12px;
            }
        }
        .right-field{
            padding-left:30px;
            .form-select{
              width:267px;
              height:56px;
              border:1px solid $blogborder;
              outline:none;
              @include fonts('inter',16px,400,$paracolor);
              line-height:28px;
              border-radius:10px;
              -webkit-border-radius:10px;
              -moz-border-radius:10px;
              -ms-border-radius:10px;
              -o-border-radius:10px;
              cursor: pointer;
            }
            .form-select:focus{
                box-shadow:none;
            }
        }
     }
 }