footer{
    background-color:$catbg;
    padding-top:130px;
    padding-bottom:130px;
    .logo-details{
        p{
            @include fonts('inter',16px,400,$testgray);
            line-height:28px;
            padding-right:8px;
            padding-top:20px;
        }
    }
    .customer-service{
        padding-left:50px;
         h5{
            @include fonts('inter',20px,600,$textcolor);
            line-height:28px;
            padding-bottom:40px;
         }  
         p{
            @include fonts('inter',16px,400,$testgray);
            line-height:38px;
            padding-right:85px;
         }
    }
    .categories{
        // padding-left:50px;
         h5{
            @include fonts('inter',20px,600,$textcolor);
            line-height:28px;
            padding-bottom:40px;
         }  
         p{
            @include fonts('inter',16px,400,$testgray);
            line-height:38px;
            padding-right:15px;
         }
    }
    .news{
        padding-left:10px;
         h5{
            @include fonts('inter',20px,600,$textcolor);
            line-height:28px;
            padding-bottom:40px;
         }  
         p{
            @include fonts('inter',16px,400,$testgray);
            line-height:38px;
            padding-right:15px;
         }
         form{
             margin-top:26px;
             position:relative;
             input{
                width:100%;
                padding:14px 170px 14px 16px;
                @include fonts('inter',16px,400,$paracolor);
                border:1px solid $blogborder;
                border-radius:10px;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                -ms-border-radius:10px;
                -o-border-radius:10px;
                outline:none;
            }
             button{
                 position:absolute;
                 top:0;
                 right:0;
                 padding:15px 28px;
                 border:none;
                 border-radius:10px;
                 -webkit-border-radius:10px;
                 -moz-border-radius:10px;
                 -ms-border-radius:10px;
                 -o-border-radius:10px;
                 background-color: $textorange;
                 @include fonts('inter',16px,600,$pcolor);
                 cursor: pointer;
                 
            }
        }
    }
}