#sell{
    margin-top:130px;
    position:relative;
    .back{
        position:absolute;
        left:-50px;
        top:0; 
    }
    .sell-nav{
        margin-left:70px;
        
        .nav-tabs{
            border:none;
        }
        .nav-tabs .nav-link{
            border:none;
            border-radius:0;
            -webkit-border-radius:0;
            -moz-border-radius:0;
            -ms-border-radius:0;
            -o-border-radius:0;
            margin-right:100px;
            padding-bottom:10px;
            @include fonts('inter',25px,700,$scolor);
        }
        .nav-tabs .nav-link:hover{
            border-bottom:2px solid $textorange;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            border-bottom:2px solid $textorange;
        }
        // .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        //     border-bottom:none;
        // }
        
    }
    .sell-content{
        margin-left:70px;
        padding-top:50px;
        padding-bottom:130px;
        .sell-item-content{
            position:relative;
            .ratings{
                position:absolute;
                top:185px;
                left:50%;
                transform:translateX(-50%);
                -webkit-transform:translateX(-50%);
                -moz-transform:translateX(-50%);
                -ms-transform:translateX(-50%);
                -o-transform:translateX(-50%);
                color:$star-active;
                cursor:pointer;
            }
            h4{
                @include fonts('inter',20px,600,$scolor);
                padding-top:20px;
                padding-bottom:5px;
            }
            p{
                @include fonts('inter',20px,600,$catcolor);
                
            }
        }
    }
    
    
}