$pcolor:#fff;
$scolor:#282828;
$hovercolor:#477018;
$textorange:#F47606;
$paracolor:#676767;
$catcolor:#969696;
$star:#FFC24B;
$textcolor:#363636;
$testgray:#6C6C6C;
$blogborder:#C9C9C9;
$cartcolor:#A2A2A2;
$black:#000000;
$form-text:#B0B0B0;
$star-default:#E1E1E1;
$star-active:#FFAE00;
$page:#E9E9E9;
$black:#000000;