$pcolor:#fff;
$scolor:#282828;
$hovercolor:#477018;
$textorange:#F47606;
$paracolor:#676767;
$catcolor:#969696;
$star:#FFC24B;
$textcolor:#363636;
$testgray:#6C6C6C;
$blogborder:#C9C9C9;
$cartcolor:#A2A2A2;
$black:#000000;